
@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:400,700');

$primary-color:#8da366;
$secondary-color:#827160;

$heading_font:'Pacifico', cursive;
$body_font:'Source Sans Pro', sans-serif;

$first_breaking-point:650px;
$second_breaking-point:1000px;

body{
  margin: 0;
  padding: 0;
  font-family: $body_font;
  font-size: 1rem;
}

p{
   text-align: justify;
}

// hearder style starts here



.header_first-container{
  //background-color: $primary-color;
  width:100%;
  background: url("../images/brazil_culture.jpg") no-repeat ;
  background-size:cover;
  background-position: center;
.container{
background-color:#3523119c;

.header_secondary-container{

  @media screen and (min-width:$second_breaking-point){
    width:1000px;
  }

  margin: auto;
  padding-bottom: .8rem;
  padding:0 1rem;
}


  .header_container{
     display: flex;
     flex-flow: row nowrap;
     padding:.5rem 0;
     justify-content: space-between;
     border-bottom: 1px solid white;

         .logo_image{
           width:80px;
          img{
          width:40px;
            // height:100px;
          }

         }
     .header_nav{

       display:flex;
       flex-flow: row nowrap;
       justify-content: center;
       align-items: center;

          ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display:flex;
            flex-flow: row nowrap;

            a{
              font-weight: normal;
                font-family:$body_font;
              text-decoration: none;
              font-size: 1rem;
              display: block;
              margin:0 1rem;
              padding:.32rem 0;
             color: white;
             font-weight: bold;
              border-bottom: 1px solid #3523111c;
            }
            a:hover{
            border-bottom: 1px solid white;
            }
          }
     }
  }

  .slider{
      margin-top:2%;
          display: flex;
         padding:3%;
          flex-flow: row nowrap;
         justify-content: space-between;


     img{
       display:none;
       width:250px;
       align-self: flex-end;
       // height:300px;
       border-radius: 6px;

       @media screen and (min-width:$first_breaking-point ){
      display: block;
       }
     }
     .download_icons{

        display: flex;
        flex-flow: row wrap;

     }
     .googleplay{
         background: url("../images/googleplay.png") no-repeat ;
           background-size:cover;
     }
     .appstore{
         background: url("../images/apple.png") no-repeat ;
           background-size:cover;
     }
     button{
       width: 135px;
     height: 40px;

       margin-right:4%;
       font-size:1rem;
       padding:.1rem .5rem ;
       border-radius: 5px;
       border:1px;
       color:white;
     }
     .first_side{
      width:350px;
       display: flex;
       flex-flow: column wrap;
       justify-content: flex-end;
       p{
         color:white;
       }

     }



  }
 }
}




// hearder style ends here

// main area code strats here
.heading{
  text-align: center;
  font-family:$heading_font;
  color:$secondary-color;
  font-size:2rem;
  font-weight: normal;
}




.main_container{

    @media screen and (min-width:$second_breaking-point){
      width:1000px;
    }

   margin: auto;
   padding:0 1rem;
    margin-bottom: 2%;
   .main_article{

     .explore_content{

         .explore_content-part{

           @media screen and (min-width:$first_breaking-point ){
             display: grid;
             grid-template-columns: 50% 50%;
           }
           @media screen and (min-width:$second_breaking-point){
              grid-template-columns:45% 55%;
           }
           .explore_video{
             width:100%;
              height:200px;
              box-sizing: border-box;
              border:2px solid $secondary-color;
              border-radius: 2px;
           }
           p{
             margin: 0;
             padding: 0;
             @media screen and (min-width:$first_breaking-point ){
             padding-left: 1rem;
             }

           }
         }
     }

   }
}

.feature_container{
      margin-top:3rem;
    .feature{
      //background-color: #d2d68d61;
      padding:1rem;
      box-sizing: border-box;

      // color:white;

      section{
        margin:0 0 3rem 0;
        @media screen and (min-width:$first_breaking-point ){
          display: grid;
          grid-template-columns: auto  auto;
          .sub_features-heading{
            margin-top: 0;
            margin-bottom: 0;
          }
        }
          .sub_features-heading{
            font-size: 1.6rem;
            font-weight: normal;
            color:$primary-color;
           }
          p{
            padding:0;
            text-align: justify;
          }
      }
      .first_sub-feature{

        div{
        padding:0 4%;
        grid-row: 1/2;
        grid-column: 2/3;
        }
      }  .second_sub-feature{
          div{
          padding:0 4% 0 0;

          }
        }

    }
    // .tour{
    //   background: url("../images/venture.jpg") no-repeat ;
    //   background-size:cover;
    //   background-position: center;
    // }  .culture{
    //   text-align: center;
    //   height:300px;
    //
    //     background: url("../images/diwali.jpg") no-repeat ;
    //     background-size:cover;
    //     background-position: center;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     .sub-headings{
    //
    //       margin-bottom: 0;
    //       box-sizing: border-box;
    //       color:#1d0901;
    //       font-size:3rem;
    //
    //     }
    //   }
    // hr{
    //   width:95%;
    //   height:4px;
    //   color:$secondary-color;
    //   background-color:$secondary-color;
    // }
  .sub-headings{
      font-family:$body_font;
      color:$primary-color;
      margin-top: 0;
      font-size: 1.8rem;
  }
 img{
   border-radius: 6% 14%;
   margin-bottom: 1%;

    @media screen and (min-width:$first_breaking-point ){
       width:300px;
     padding: 0 2%;
     box-sizing: border-box;
     }
 }
}
// main area code ends here


//About page style starts here

.team_members-container{
  margin-bottom: 1rem;
      @media screen and (min-width:$first_breaking-point ){
        display: grid;
        grid-template-columns: 50% 50%;

        .heading{
          grid-column: 1/3;
        }
       }

      .team_members-profiles{
        //padding:1%;
        position:relative;
        margin:1rem 0;
        margin-right: 1.2rem;
        section{
          border:1px solid $secondary-color;
          width:90%;
          //height:250px;
          padding-top: 1.3rem;
          padding-bottom: 1.3rem;
          padding-left:1rem;
          padding-right:9rem;
          box-sizing: border-box;
          h3{
            margin: 0;
            margin-bottom: .5rem;
          }
          h5{
            margin: 0;
          }
          ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow:row nowrap;
            li{
              margin-right:1rem;
              font-size: 1.4rem;
              a{
                color:#000;
              }
            }
          }

        }
        .profile_img{
          margin-left: 1%;
          position: absolute;
          right:0;
          top:12%;
          bottom:12%;
          width:150px;
          height:150px;

         }

      }
    .team_members-profiles:nth-child(odd){
      margin-right: 0;
        margin-left:1.2rem;
      section{
        margin-left:10%;
        text-align: right;
        padding-right:1rem;
        padding-left:9rem;

        ul{
          justify-content: flex-end;
        }
      }
      .profile_img{
        margin-left: 1%;
        position: absolute;
        left:0;
        top:12%;
        bottom:12%;
        width:150px;
        height:150px;

       }
    }
    @media screen and (min-width:$first_breaking-point ){
      .team_members-profiles:nth-child(6){
          grid-column: 1/3;
          width:50%;
          justify-self: center;
        }
     }

}
.division{
  margin-top: 2rem;
margin-bottom: 2rem;
  height:2px;
  width:80%;
  border: 0;
  color:$secondary-color;
  background-color: $secondary-color;
}


// contact form style starts here
   .form_container{
     display: flex;
     flex-flow:column nowrap;
     .input_wrapper{
       display: flex;
       flex-flow:column wrap;
       @media screen and (min-width:$first_breaking-point ){
         flex-flow:row wrap;
         .input_field{
             flex:1 0 70%;
         }
         label{
           flex:1 0 5%;
         }

        }


       width: 100%;
       margin:1rem 0;
       .input_field{
        border: 1px solid $secondary-color;
        border-radius: 3px;
        padding:2% 1%;
       }
       label{
         font-size: 1rem;
         font-weight: bold;
       }
        input[type="submit"]{
        width:150px;
        font-family: $heading_font;
        font-size: 1rem;
        align-self: flex-end;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        color:white;
        border-radius:1rem;
        padding: .5rem .8rem;
        }
        input[type="submit"]:hover{
          text-decoration: underline;
        }
     }

       .button_wrapper{
         @media screen and (min-width:$first_breaking-point ){
         justify-content: flex-end;
       }
     }
   }
// contact form style ends here


//About page style ends here

.footer-container{
  background-color: $secondary-color;
  width:100%;
  margin-top: 2%;
  //height:70px;
  padding:.8rem;
  box-sizing: border-box;
  .footer{
    margin:auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color:#fff;
    .logo{
      width:50px ;

    }
    @media screen and (min-width:$second_breaking-point ){
    width:1000px;
  }
  .copyright{
    font-size: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: .5rem;
  }
  ul {
    margin-top: .5rem;
    margin:0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;

    li{
      text-align: center;
      margin:0 .6rem;

        a{
          color:white;
          font-size: 1.3rem;
        }
    }
  }
  }
}
img{
  width:100%;
  display: block;
  height:auto;
}
